<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Gimble: Главная</title>
        <meta charset="utf-8" />
        <link href="~/Styles/header.css" rel="stylesheet" />
        <link href="~/Styles/footer.css" rel="stylesheet" />
    </head>
<body>
    <header class="headhesive row">
        <!--logotype-->

        <a href="~/Home/Index" class="logo_pull-left ajax-loading">
            <div id="head-logo" href=#></div>
        </a>
        @if (User.Identity.IsAuthenticated)
        {
            <ul class="profile-button list-unstyled pull-right">
                <li class="dropdown">
                    <a class="drop-btn dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        @User.Identity.Name
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a class="ajax-loading" href="~/Profile/Index">Мой профиль</a></li>
                        <li> <a class="ajax-loading" href="~/Settings/Index">Настройки</a></li>
                        <li class="divider"></li>
                        <li> <a class="ajax-loading" href="~/Account/Logout">Выход</a></li>                        
                    </ul>
                </li>
            </ul>
        }
    </header>
    
    <!--Основной контент здесь-->
    <div id="main" class="container-fluid body-content">
        @RenderBody()
        <hr /> 
          
    </div>

    <footer class="footer center-block">
        <!--Название компании и год её основания-->
        <div class="container">
            <p class="text-muted">IBS Production &copy; @DateTime.UtcNow.Year год</p>
        </div>
    </footer>  
        
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/modalwindow.js"></script><!-- Управление модальными окнами -->
    <script src="~/Scripts/scrolling-nav.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/header.js"></script><!-- header вставляется в первый попавшийся класс container-fluid -->
    <script src="~/Scripts/PartialLoading.js"></script>
</body>
</html>