div{
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container, .container-fluid{
    background-color: #ffbb00;
    height: 600px;
}
.row{
    background-color: #63ebce;
    border: 3px solid #6eada0;
    min-height: 56px;
}

.row > div{
    background-color: #6773f1;
    border: 3px solid #303896;
    min-height: 50px;
}