.head {
  font-size: 25px;
  margin: 10px 10px;  
}

.some-margin{
    margin-top:4vw;
}

.photo{
    background-image:url(https://source.unsplash.com/random);
}

.center-text{
    text-align:center;
}

html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:3vh;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}