@model GridMoment.UI.WebSite.Models.CommentViewModel
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("ChangeAvatar", "Settings", new {   }, FormMethod.Post))
    {
        <div class="form-group">
            <input type="email" name="Text" class="form-control" id="inputComment" placeholder="Оставьте свой отзыв или важное мнение, с">
        </div>
        <button type="submit" class="btn btn-default right">Отправить</button>
    }
}